footer.footer.margin-top
	.container
		.footer__body
			nav.footer__navigation
				.footer__navigation-title Header 1
				ul.footer__navigation-list.list-style-none
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Version
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Hour policy
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Pole left
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Know fastworks
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Left breakout
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Decisions a
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Incentivize
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Strategic
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Closing build

			nav.footer__navigation
				.footer__navigation-title Header 2
				ul.footer__navigation-list.list-style-none
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Should pole
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Loss
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Crystallize
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Needle
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Shoulder sop
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Shoot creep
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Every
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Files client
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Native just
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Take while air

			nav.footer__navigation
				.footer__navigation-title Header 3
				ul.footer__navigation-list.list-style-none
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Member organic sop
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Ipsum let
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Turn nail skulls
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Pain tent stop shark
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Start hop goto see high product obviously. Just.
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Team
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Die optimize key
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Hands ballpark back-end group
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Crystallize
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Across who's asserts didn't will streamline.
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Incentivization please
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Responsible as recap data
					li.footer__navigation-item
						a.footer__navigation-link(href='#') They new this
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Caught streamline innovation
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Inclusion into not i'm
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Per for loop

			nav.footer__navigation
				.footer__navigation-title Header 5
				ul.footer__navigation-list.list-style-none
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Later
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Red-flag
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Innovation
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Algorithm
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Algorithm
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Discussions too we better

			nav.footer__navigation
				.footer__navigation-title Header 4
				ul.footer__navigation-list.list-style-none
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Stronger sop
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Reinvent domains manager
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Shelf-ware ui cadence
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Way give diligence
					li.footer__navigation-item
						a.footer__navigation-link(href='#') Important
					li.footer__navigation-item
						a.footer__navigation-link(href='#') What's

		.footer__bottom
			.footer__social.social
				a.social__item(href='#')
					img(src='img/icons/telegram.svg' alt='Social media')
					span.visually-hidden Social media
				a.social__item(href='#')
					img(src='img/icons/whatsapp.svg' alt='Social media')
					span.visually-hidden Social media
				a.social__item(href='#')
					img(src='img/icons/social-media.svg' alt='Social media')
					span.visually-hidden Social media
				a.social__item(href='#')
					img(src='img/icons/social-media.svg' alt='Social media')
					span.visually-hidden Social media
				a.social__item(href='#')
					img(src='img/icons/social-media.svg' alt='Social media')
					span.visually-hidden Social media
				a.social__item(href='#')
					img(src='img/icons/social-media.svg' alt='Social media')
					span.visually-hidden Social media

			ul.footer__caption-list.list-style-none
				li.footer__caption-item
					span Cap 1
				li.footer__caption-item
					span Cap 2


			.footer__infornation
				p.footer__additional Office ipsum you must be muted. Should impact canatics winning stronger 30,000ft ready to offline place.
				p.footer__description Group practices take stop inclusion go done needle technologically. Data right pants creep sop ask zoom. Economy a make previous bed feed feature if. Horse walk idea line lot loss catching meeting call eye going marginalised we.




