extends html/base

block variables
	- let title = 'Главная'

block content
	section.main-hero.padding-top
		.container
			.main-hero__content-wrapper
				h1.main-hero__title HELLO FRIEND! <br> LET’S GET STARTED.
				.main-hero__action
					a.main-hero__btn.btn(href='#callbackModal' data-toggle='modal') Fill The Form

	section.text-information.padding-top
		.container
			h2.visually-hidden Text articles
			.text-information__articles
				article.text-information__article.article
					img.article__image(src='img/content/img-6.jpg' alt='Article Image')
					h4.article__title Title
					p Lorem ipsum dolor sit amet consectetur. Ac venenatis justo pulvinar enim ultricies quam amet neque. Nullam egestas dis ipsum pharetra consequat dignissim consectetur eget viverra. Viverra sagittis arcu tristique nam lectus rhoncus tortor. Suspendisse ut risus nunc et rhoncus morbi libero. Risus molestie nisi pharetra lorem dui purus. Nunc gravida eget in nunc.
					p Lectus est ultrices odio pellentesque luctus nisl dictum id etiam. Nunc feugiat nunc pulvinar elementum suspendisse placerat tortor in. Sed sit non molestie quis a nibh vestibulum tristique. Nisl in eu tristique morbi et sem tellus id laoreet. Tortor commodo sit sed augue venenatis. Uma ut sed quam donec nulla. Odio interdum bibendum aenean nunc. Hac senectus tellus odio ac blandit lorem. Mattis dui fames a rhoncus. Facilisi nec vestibulum vel faucibus id lobortis magnis urna libero. Elit vel massa lorem scelerisque sit habitant arcu aliquam faucibus. Egestas mattis diam vitae vitae consectetur ipsum habitant cras morbi. Nibh ornare quam accumsan id. Lectus est ultrices odio pellentesque luctus nisl dictum id etiam. Nunc feugiat nunc pulvinar elementum suspendisse placerat tortor in.
					p Lorem ipsum dolor sit amet consectetur. Ac venenatis justo pulvinar enim ultricies quam amet neque. Nullam egestas dis ipsum pharetra consequat dignissim consectetur eget viverra. Viverra sagittis arcu tristique nam lectus rhoncus tortor. Suspendisse ut risus nunc et rhoncus morbi libero. Risus molestie nisi pharetra lorem dui purus. Nunc gravida eget in nunc.

				article.text-information__article.article
					img.article__image(src='img/content/img-6.jpg' alt='Article Image')
					h4.article__title Title
					p Lorem ipsum dolor sit amet consectetur. Ac venenatis justo pulvinar enim ultricies quam amet neque. Nullam egestas dis ipsum pharetra consequat dignissim consectetur eget viverra. Viverra sagittis arcu tristique nam lectus rhoncus tortor. Suspendisse ut risus nunc et rhoncus morbi libero. Risus molestie nisi pharetra lorem dui purus. Nunc gravida eget in nunc.
					p Lectus est ultrices odio pellentesque luctus nisl dictum id etiam. Nunc feugiat nunc pulvinar elementum suspendisse placerat tortor in. Sed sit non molestie quis a nibh vestibulum tristique. Nisl in eu tristique morbi et sem tellus id laoreet. Tortor commodo sit sed augue venenatis. Uma ut sed quam donec nulla. Odio interdum bibendum aenean nunc. Hac senectus tellus odio ac blandit lorem. Mattis dui fames a rhoncus. Facilisi nec vestibulum vel faucibus id lobortis magnis urna libero. Elit vel massa lorem scelerisque sit habitant arcu aliquam faucibus. Egestas mattis diam vitae vitae consectetur ipsum habitant cras morbi. Nibh ornare quam accumsan id. Lectus est ultrices odio pellentesque luctus nisl dictum id etiam. Nunc feugiat nunc pulvinar elementum suspendisse placerat tortor in.
					p Lorem ipsum dolor sit amet consectetur. Ac venenatis justo pulvinar enim ultricies quam amet neque. Nullam egestas dis ipsum pharetra consequat dignissim consectetur eget viverra. Viverra sagittis arcu tristique nam lectus rhoncus tortor. Suspendisse ut risus nunc et rhoncus morbi libero. Risus molestie nisi pharetra lorem dui purus. Nunc gravida eget in nunc.


	section.cards-collection.padding-top
		.container
			.cards-collection__card-articles
				a.cards-collection__card-article.card-article(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-2.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 1
						span.card-article__value 129,000
						p Lorem ipsum dolor sit amet consectetur. Ut in ullamcorper proin magna eu ante.

				a.cards-collection__card-article.card-article(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-4.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 1
						span.card-article__value 129,000
						p Lorem ipsum dolor sit amet consectetur. Ut in ullamcorper proin magna eu ante.

				a.cards-collection__card-article.card-article.card-article--wide(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-1.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 2
						span.card-article__value 3,800,100
						p sdssadasdsasSasasaSsdssadasdsasSasasaS

				a.cards-collection__card-article.card-article.card-article--wide.card-article--img-higher(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-3.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 2
						span.card-article__value 3,800,100
						p sdssadasdsasSasasaSsdssadasdsasSasasaS

				a.cards-collection__card-article.card-article.card-article--wide.card-article--img-higher(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-2.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 2
						span.card-article__value 3,800,100
						p sdssadasdsasSasasaSsdssadasdsasSasasaS

				a.cards-collection__card-article.card-article(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-1.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 1
						span.card-article__value 129,000
						p Lorem ipsum dolor sit amet consectetur. Ut in ullamcorper proin magna eu ante.

				a.cards-collection__card-article.card-article(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-4.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 1
						span.card-article__value 129,000
						p Lorem ipsum dolor sit amet consectetur. Ut in ullamcorper proin magna eu ante.

				a.cards-collection__card-article.card-article(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-6.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 1
						span.card-article__value 129,000
						p Lorem ipsum dolor sit amet consectetur. Ut in ullamcorper proin magna eu ante.

				a.cards-collection__card-article.card-article(href='#')
					.card-article__head
						.card-article__image-wrapper
							img.card-article__image(src='img/content/img-3.jpg' alt='Article Image')
					.card-article__body
						h4.card-article__title Title 1
						span.card-article__value 129,000
						p Lorem ipsum dolor sit amet consectetur. Ut in ullamcorper proin magna eu ante.


	.modal-wrapper
		#callbackModal.modal.modal-callback
			.modal__head
				button.modal__modal-back.modal-close-btn(type='button') Закрыть
				button.modal__modal-close.modal-close-btn(type='button') Закрыть

			.modal__body
				h4.modal__title Some description for this step
				p.modal__description Viverra sagittis arcu tristique nam lectus rhoncus tortor. Suspendisse ut risus nunc et rhoncus morbi libero. Risus molestie nisi pharetra lorem dui purus. Nunc gravida eget in nunc.

				form.modal__form(action='/' method='post' name='callbackForm')
					.modal__element-group
						.modal__element-wrapper
							label
								span.visually-hidden Enter some text please
								input.modal__input(type='text' name='some-input' placeholder='Enter some text please')
						.modal__element-wrapper
							label
								span.visually-hidden Enter some text please
								input.modal__input(type='text' name='some-input' placeholder='Enter some text please')
						.modal__element-wrapper
							label
								span.visually-hidden Enter some text please
								input.modal__input(type='text' name='some-input' placeholder='Enter some text please')
						.modal__element-wrapper
							label
								span.visually-hidden Enter some text please
								input.modal__input(type='text' name='some-input' placeholder='Enter some text please')

					.modal__element-wrapper
						label(for="someSelect")
						span.visually-hidden Enter some text please
						div.custom-select
							select#someSelect(name='some-select')
								option(value='') Select option
								option(value='option-1') Option-1
								option(value='option-2') Option-2
								option(value='option-3') Option-3
								option(value='option-4') Option-4
								option(value='option-5') Option-5

							ul.options-list
							span.custom-arrow

					.modal__element-wrapper
						label
							span.visually-hidden Choose an option
							input.modal__input(type='text' name='some-input' placeholder='Enter some text please')

					button.modal__modal-btn.btn.btn--contrast(type='submit') Confirm and send




	#successModal.modal.modal-success
		.modal__body
			span.modal__alert-icon
			h4.modal__title We are all set!
			p.modal__description Your response was successfully send. We will contact you asap.

			button.modal__modal-btn.btn.modal-close-btn.btn--contrast(type='button') Got it!

	.overlay-modal

